
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px greenyellow solid; */
}

body {
    font-family: 'Spartan', sans-serif;
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: #f0fafb;
}
.top-bg {
    width: 100%;
    height: 165px;
    background-color: #5DA5A4;
    margin-bottom: 50px;
}
.center {
    width: 77%;
    margin: 0 auto; /*nie działa, czemu???*/
}
.job-listing {
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 8px 8px 20px 0px rgba(150,145,150,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    position: relative;
    
}

.job-listing__icon {
    margin-left: 30px;
}

.middle-l {
    position: absolute;
    left: 150px;
}
.employee {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.employee > div {
    height: 25px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-weight: bold;
}

.employee__name {
    font-size: 18px;
    color: #5DA5A4;
}

.employee__status {
    border-radius: 20px;
    padding: 7px 7px 4px;
    color: #fff;
}
.new {
    background-color: #5DA5A4;
}

.featured {
    background-color: #000;
}

.job-title {
    font-size: 18px;
    padding: 15px 0;
}

.job-details {
    display: flex;
    color: #848B89;
}

.job-details__item {
    margin-right: 15px;
    font-weight: 500;
}
.dot {
    display: flex;
    align-self: center;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #848B89;
    margin-right: 15px;
}
.skills {
    padding: 30px;
    display: flex;
    
}

.skills__item {
    
    margin-right: 15px;
    padding: 5px;
    color: #5DA5A4;
    font-weight: bold;
    background-color: #f0fafb;
    border-radius: 5px;
    box-shadow: 4px 3px 8px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.skills__item:hover {
    cursor: pointer;
    background-color: #5DA5A4;
    color: #fff;
 
}

.skills__item:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.24);
}

.attribution {
    width: 40vw;
    margin: 30px auto;
}
.attribution a {
    text-decoration: none;
    color:#5DA5A4;
}

@media (max-width: 1440px) {
    .wrapper {
        max-width: 95%;
        margin: 0 auto;
    }

    .center {
        min-width: 960px;
    }
}

@media (max-width: 1010px) {
 
    .center {
        min-width: 690px;
        margin: 0 auto;
    }
    .job-listing {
        flex-direction: column;
        align-items: flex-start;
        width: 75vw;
        height: 300px;
        padding: 30px 20px;
        margin: 30px auto;
    }  

    .middle-l {
        margin-left: 20px;
    }

}

@media (max-width: 710px){
    .center {
        min-width: 330px;
        margin: 0 auto;
    }

    .job-listing {
        width: 327px;
        margin: 50px auto;
    }

    .job-listing__icon {
        width: 50px;
        margin: -55px 0
    }

    .middle-l {
        position: static;
        margin: 70px 0 0;
        font-size: 12px;
    }

    hr {
        width: 90%;
        border-top: 1px solid #cdd0d0;
        margin: 30px auto
    }

    .skills {
        flex-wrap: wrap;
        padding: 0;
    
    }

    .skills__item {
        margin-bottom: 15px;
    }
}